<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet">
		<title>LOGIN</title>
		<link rel="stylesheet" href="./css/styles.css" />
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	</head>
	<body>
		<div th:replace="components/header :: header">&nbsp;</div>
		<div th:replace="components/menu :: menu (user=${user}, error=${loginError})">&nbsp;</div>
		<div th:replace="components/menu :: modalLogin">&nbsp;</div>
		<div class="container">
			<div class="row">
			    <div class="col-4">
			    	Category tree
			    </div>
			    <div class="col-8">
			    	<div class="d-flex flex-wrap" th:each="product: ${products}" >
				    	<div class="card">
						  <img src="..." class="card-img-top" alt="...">
						  <div class="card-body">
						    <h5 class="card-title">${product.name}</h5>
						    <p class="card-text">${product.description}</p>
						    <a href="#" class="btn btn-primary">Agregar al carrito</a>
						  </div>
						</div>
					</div>
			    </div>
			</div>
		</div>
		<div class="container" th:replace="components/footer :: footer"></div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
		<script th:replace="components/menu :: js"></script>
	</body>
</html>


